.GitManager-dialog-run .controls
{
    
    display: -webkit-flex;
    display:         flex;
    
    -webkit-flex-direction: row;
            flex-direction: row;
    
    -webkit-align-content: stretch;
            align-content: stretch;
    
    flex-direction: horizontal;
    
    margin-bottom: 10px;
}

.GitManager-dialog-run .run-input
{
    font-family: 'SourceCodePro-Medium', "ＭＳ ゴシック", "MS Gothic", monospace;
    background-position: 5px;
    background-repeat: no-repeat;
    background-image: url(caret.svg);
    background-size: 12px 12px;
    padding-left: 20px;
    height: 23px;
    
    -webkit-flex: 1;
            flex: 1;
    
    -webkit-order: 1;
            order: 1;
}

.GitManager-dialog-run .btn.run-git-command
{
    margin-left: 10px;
    
    -webkit-flex: 0 1 30px;
            flex: 0 1 30px;
    
    -webkit-order: 2;
            order: 2;
}

.GitManager-dialog-run .run-output
{
    display: none;
    width: 540px;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
}

.GitManager-dialog-run.running .run-output
{
    display: block;
}